Repository govuk-one-login/authentication-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: spotless-check, terraform-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: spotless-check
        name: Run Gradle Spotless Apply
        language: script
        entry: ./gradlew spotlessApply
        files: ^.*(gradle|java)$
        pass_filenames: false
      - id: terraform-format
        name: Run Terraform Format
        language: docker_image
        entry: hashicorp/terraform:1.0.4 fmt -recursive
        files: ^.*(.tf|.tfvars)$
        pass_filenames: false

BAU: Read RSA key from KMS
  shared/src/main/java/uk/gov/di/authentication/shared/services/ConfigurationService.java
  shared/src/main/java/uk/gov/di/authentication/shared/services/JwksService.java
  shared/src/main/java/uk/gov/di/authentication/shared/services/KmsConnectionService.java
  shared/src/test/java/uk/gov/di/authentication/shared/services/JwksServiceTest.java
Due: spotless-check

BAU: Add RSA signing key to default kms access policy (used by jwks endpoint)
  ci/terraform/oidc/kms-policies.tf
Due: terraform-format

BAU: Add RSA key to /jwks.json in build and staging only
  oidc-api/src/main/java/uk/gov/di/authentication/oidc/lambda/JwksHandler.java
  oidc-api/src/test/java/uk/gov/di/authentication/oidc/lambda/JwksHandlerTest.java
  shared/src/main/java/uk/gov/di/authentication/shared/services/ConfigurationService.java
Due: spotless-check

BAU: Refactor JwksHandler to make adding new keys easier
  oidc-api/src/main/java/uk/gov/di/authentication/oidc/lambda/JwksHandler.java
Due: spotless-check

BAU: Add RSA alias to Jwks json lambda configuration
  ci/terraform/oidc/jwks.tf
Due: terraform-format

FIREBREAK: Add Terraform Validate hook
  .pre-commit-config.yaml
  ci/terraform/precommit-validate.sh
Due: none

BAU: Add missing environment variable to JWKs lambda
  ci/terraform/oidc/jwks.tf
Due: terraform-format

FIREBREAK: Add Cloudformation linting to pre-commit
  .pre-commit-config.yaml
Due: none

FIREBREAK: Make existing Cloudformation linter compliant
  shared/client-dynamo-tables.yaml
  shared/common-password-dynamo-table.yaml
  shared/kms.yaml
  shared/user-dynamo-tables.yaml
Due: none

BAU: Pass signing algorithm to `generateSignedJWT`
  oidc-api/src/main/java/uk/gov/di/authentication/oidc/lambda/BackChannelLogoutRequestHandler.java
  oidc-api/src/test/java/uk/gov/di/authentication/oidc/lambda/BackChannelLogoutRequestHandlerTest.java
  shared/src/main/java/uk/gov/di/authentication/shared/services/TokenService.java
Due: spotless-check

BAU: Instruct TokenService to sign with specific signing algorithm
  oidc-api/src/main/java/uk/gov/di/authentication/oidc/lambda/TokenHandler.java
  oidc-api/src/test/java/uk/gov/di/authentication/oidc/lambda/TokenHandlerTest.java
  shared/src/main/java/uk/gov/di/authentication/shared/services/TokenService.java
  shared/src/test/java/uk/gov/di/authentication/shared/services/TokenServiceTest.java
Due: spotless-check

BAU: Add `IdTokenSigningAlgorithm` capability to `ClientRegistry`
  shared/src/main/java/uk/gov/di/authentication/shared/entity/ClientRegistry.java
Due: spotless-check

BAU: Grant token lambda access to RSA signing key
  ci/terraform/oidc/token.tf
Due: terraform-format

BAU: Use RSA if client has chosen it and environment is RSA-enabled
  oidc-api/src/main/java/uk/gov/di/authentication/oidc/lambda/TokenHandler.java
  oidc-api/src/test/java/uk/gov/di/authentication/oidc/lambda/TokenHandlerTest.java
  shared-test/src/main/java/uk/gov/di/authentication/sharedtest/helper/TokenGeneratorHelper.java
Due: spotless-check

BAU: Advertise RS256 in configuration if available
  oidc-api/src/main/java/uk/gov/di/authentication/oidc/lambda/WellknownHandler.java
Due: spotless-check

Firebreak-Add additional fields to client registry
  shared/src/main/java/uk/gov/di/authentication/shared/entity/ClientRegistry.java
Due: spotless-check

Firebreak-Add additional classes to validate client_secret_post and client_secret_basic
  shared/src/main/java/uk/gov/di/authentication/shared/exceptions/TokenAuthInvalidException.java
  shared/src/main/java/uk/gov/di/authentication/shared/services/ConfigurationService.java
  shared/src/main/java/uk/gov/di/authentication/shared/validation/ClientSecretBasicClientAuthValidator.java
  shared/src/main/java/uk/gov/di/authentication/shared/validation/ClientSecretPostClientAuthValidator.java
  shared/src/main/java/uk/gov/di/authentication/shared/validation/PrivateKeyJwtClientAuthValidator.java
  shared/src/main/java/uk/gov/di/authentication/shared/validation/TokenClientAuthValidator.java
  shared/src/main/java/uk/gov/di/authentication/shared/validation/TokenClientAuthValidatorFactory.java
  shared/src/test/java/uk/gov/di/authentication/shared/validation/ClientSecretBasicClientAuthValidatorTest.java
  shared/src/test/java/uk/gov/di/authentication/shared/validation/ClientSecretPostClientAuthValidatorTest.java
  shared/src/test/java/uk/gov/di/authentication/shared/validation/PrivateKeyJwtClientAuthValidatorTest.java
  shared/src/test/java/uk/gov/di/authentication/shared/validation/TokenClientAuthValidatorFactoryTest.java
Due: spotless-check

BAU: Grant /token access to RSA signing key
  ci/terraform/oidc/token.tf
Due: terraform-format

Firebreak - Give /token the ability to support client_secret_basic and client_secret_post
  client-registry-api/src/main/java/uk/gov/di/authentication/clientregistry/lambda/ClientRegistrationHandler.java
  client-registry-api/src/test/java/uk/gov/di/authentication/clientregistry/lambda/ClientRegistrationHandlerTest.java
  integration-tests/src/test/java/uk/gov/di/authentication/api/TokenIntegrationTest.java
  oidc-api/src/main/java/uk/gov/di/authentication/oidc/lambda/TokenHandler.java
  oidc-api/src/test/java/uk/gov/di/authentication/oidc/lambda/TokenHandlerTest.java
  shared-test/src/main/java/uk/gov/di/authentication/sharedtest/extensions/ClientStoreExtension.java
  shared/src/main/java/uk/gov/di/authentication/shared/services/ClientService.java
  shared/src/main/java/uk/gov/di/authentication/shared/services/DynamoClientService.java
  shared/src/main/java/uk/gov/di/authentication/shared/services/TokenService.java
  shared/src/test/java/uk/gov/di/authentication/shared/services/TokenServiceTest.java
Due: spotless-check

BAU: Only use CONCAT format for EC signatures
  shared/src/main/java/uk/gov/di/authentication/shared/services/TokenService.java
Due: spotless-check

BAU: Give `TokenValidationService` access to lambda configuration
  account-management-api/src/main/java/uk/gov/di/accountmanagement/lambda/AuthoriseAccessTokenHandler.java
  oidc-api/src/main/java/uk/gov/di/authentication/oidc/lambda/LogoutHandler.java
  oidc-api/src/main/java/uk/gov/di/authentication/oidc/lambda/TokenHandler.java
  oidc-api/src/main/java/uk/gov/di/authentication/oidc/lambda/UserInfoHandler.java
  shared/src/main/java/uk/gov/di/authentication/shared/services/TokenValidationService.java
  shared/src/test/java/uk/gov/di/authentication/shared/services/TokenValidationServiceTest.java
Due: spotless-check

BAU: Use RSA key if header claims using RSA
  shared/src/main/java/uk/gov/di/authentication/shared/services/TokenValidationService.java
  shared/src/test/java/uk/gov/di/authentication/shared/services/TokenValidationServiceTest.java
Due: spotless-check

BAU: Grant logout and userinfo endpoints read access to RSA signing key
  ci/terraform/oidc/logout.tf
  ci/terraform/oidc/userinfo.tf
Due: terraform-format

BAU - Make Nonce optional for the Staging environment
  oidc-api/src/main/java/uk/gov/di/authentication/oidc/lambda/AuthorisationHandler.java
  oidc-api/src/main/java/uk/gov/di/authentication/oidc/services/AuthorizationService.java
  oidc-api/src/test/java/uk/gov/di/authentication/oidc/lambda/AuthorisationHandlerTest.java
  oidc-api/src/test/java/uk/gov/di/authentication/oidc/services/AuthorizationServiceTest.java
  shared/src/main/java/uk/gov/di/authentication/shared/services/ConfigurationService.java
Due: spotless-check

FIREBREAK: Return set of features from 'start' if enabled
  ci/terraform/oidc/sandpit.tfvars
  ci/terraform/oidc/start.tf
  ci/terraform/oidc/variables.tf
  frontend-api/src/main/java/uk/gov/di/authentication/frontendapi/entity/Features.java
  frontend-api/src/main/java/uk/gov/di/authentication/frontendapi/entity/StartResponse.java
  frontend-api/src/main/java/uk/gov/di/authentication/frontendapi/features/FeatureStrategies.java
  frontend-api/src/main/java/uk/gov/di/authentication/frontendapi/lambda/StartHandler.java
  frontend-api/src/main/java/uk/gov/di/authentication/frontendapi/services/StartService.java
  frontend-api/src/test/java/uk/gov/di/authentication/frontendapi/lambda/StartHandlerTest.java
  shared/src/main/java/uk/gov/di/authentication/shared/services/ConfigurationService.java
Due: spotless-check, terraform-format

FIREBREAK: Switch on extended feature flags in all environments
  ci/terraform/oidc/variables.tf
Due: terraform-format

AUT-804: Add Ts and Cs variable to bulk test user create lambda
  ci/terraform/utils/bulk_test_user_create_lambda.tf
  ci/terraform/utils/variables.tf
Due: terraform-format

FIREBREAK: Switch on AB testing in build, integration and staging only
  ci/terraform/oidc/build-overrides.tfvars
  ci/terraform/oidc/integration-overrides.tfvars
  ci/terraform/oidc/staging-overrides.tfvars
  ci/terraform/oidc/variables.tf
Due: terraform-format

FIREBREAK: Rollout A/B testing of create password hint to prod
  ci/terraform/oidc/build-overrides.tfvars
  ci/terraform/oidc/integration-overrides.tfvars
  ci/terraform/oidc/staging-overrides.tfvars
  ci/terraform/oidc/variables.tf
Due: terraform-format

FIREBREAK: Use shared pre-commit rules
  .pre-commit-config.yaml
Due: none

FIREBREAK: Fix rebasing error
  .pre-commit-config.yaml
Due: none

AUT-915 - Allowing fixed OTP for ResetPasswordHandler and ResetPasswordRequestHandler
  frontend-api/src/main/java/uk/gov/di/authentication/frontendapi/domain/FrontendAuditableEvent.java
  frontend-api/src/main/java/uk/gov/di/authentication/frontendapi/entity/ResetPasswordCompletionRequest.java
  frontend-api/src/main/java/uk/gov/di/authentication/frontendapi/helpers/TestClientHelper.java
  frontend-api/src/main/java/uk/gov/di/authentication/frontendapi/lambda/MfaHandler.java
  frontend-api/src/main/java/uk/gov/di/authentication/frontendapi/lambda/ResetPasswordHandler.java
  frontend-api/src/main/java/uk/gov/di/authentication/frontendapi/lambda/ResetPasswordRequestHandler.java
  frontend-api/src/main/java/uk/gov/di/authentication/frontendapi/lambda/VerifyCodeHandler.java
  frontend-api/src/test/java/uk/gov/di/authentication/frontendapi/helpers/TestClientHelperTest.java
  frontend-api/src/test/java/uk/gov/di/authentication/frontendapi/lambda/ResetPasswordHandlerTest.java
  frontend-api/src/test/java/uk/gov/di/authentication/frontendapi/lambda/ResetPasswordRequestHandlerTest.java
  frontend-api/src/test/java/uk/gov/di/authentication/frontendapi/lambda/VerifyCodeHandlerTest.java
  integration-tests/src/test/java/uk/gov/di/authentication/api/ResetPasswordIntegrationTest.java
  integration-tests/src/test/java/uk/gov/di/authentication/api/ResetPasswordRequestIntegrationTest.java
Due: spotless-check

AUT-915 - Remove Password reset with link logic
  frontend-api/src/main/java/uk/gov/di/authentication/frontendapi/lambda/NotificationHandler.java
  frontend-api/src/main/java/uk/gov/di/authentication/frontendapi/lambda/ResetPasswordRequestHandler.java
  frontend-api/src/main/java/uk/gov/di/authentication/frontendapi/lambda/VerifyCodeHandler.java
  frontend-api/src/main/java/uk/gov/di/authentication/frontendapi/services/ResetPasswordService.java
  frontend-api/src/test/java/uk/gov/di/authentication/frontendapi/lambda/NotificationHandlerTest.java
  frontend-api/src/test/java/uk/gov/di/authentication/frontendapi/lambda/ResetPasswordHandlerTest.java
  frontend-api/src/test/java/uk/gov/di/authentication/frontendapi/lambda/VerifyCodeHandlerTest.java
  frontend-api/src/test/java/uk/gov/di/authentication/frontendapi/services/ResetPasswordServiceTest.java
  integration-tests/src/test/java/uk/gov/di/authentication/queuehandlers/NotificationHandlerIntegrationTest.java
  shared-test/src/main/java/uk/gov/di/authentication/sharedtest/extensions/RedisExtension.java
  shared/src/main/java/uk/gov/di/authentication/shared/entity/NotificationType.java
  shared/src/main/java/uk/gov/di/authentication/shared/services/CodeStorageService.java
  shared/src/test/java/uk/gov/di/authentication/shared/services/CodeStorageServiceTest.java
Due: spotless-check

AUT-783: Test client allowlist to support regex email matching
  frontend-api/src/main/java/uk/gov/di/authentication/frontendapi/helpers/TestClientHelper.java
  frontend-api/src/main/java/uk/gov/di/authentication/frontendapi/lambda/VerifyCodeHandler.java
  frontend-api/src/test/java/uk/gov/di/authentication/frontendapi/helpers/TestClientHelperTest.java
  frontend-api/src/test/java/uk/gov/di/authentication/frontendapi/lambda/VerifyCodeHandlerTest.java
Due: spotless-check

Update frontend-api/src/main/java/uk/gov/di/authentication/frontendapi/helpers/TestClientHelper.java
  frontend-api/src/main/java/uk/gov/di/authentication/frontendapi/helpers/TestClientHelper.java
Due: spotless-check

AUT-783: Catch and test PatternSyntaxException
  frontend-api/src/main/java/uk/gov/di/authentication/frontendapi/helpers/TestClientHelper.java
  frontend-api/src/test/java/uk/gov/di/authentication/frontendapi/helpers/TestClientHelperTest.java
Due: spotless-check

AUT-783: Move TestClientHelper to shared
  frontend-api/src/main/java/uk/gov/di/authentication/frontendapi/lambda/MfaHandler.java
  frontend-api/src/main/java/uk/gov/di/authentication/frontendapi/lambda/ResetPasswordHandler.java
  frontend-api/src/main/java/uk/gov/di/authentication/frontendapi/lambda/ResetPasswordRequestHandler.java
  frontend-api/src/main/java/uk/gov/di/authentication/frontendapi/lambda/VerifyCodeHandler.java
  shared/src/main/java/uk/gov/di/authentication/shared/helpers/TestClientHelper.java
  shared/src/test/java/uk/gov/di/authentication/shared/helpers/TestClientHelperTest.java
Due: spotless-check

AUT-783: Support regex email matches for isTestJourney in DynamoClientService
  shared/src/main/java/uk/gov/di/authentication/shared/services/DynamoClientService.java
  shared/src/test/java/uk/gov/di/authentication/shared/services/DynamoClientServiceTest.java
Due: spotless-check

AUT-941: Add correct Auth App secret for bulk users
  utils/src/main/java/uk/gov/di/authentication/utils/lambda/BulkTestUserCreateHandler.java
Due: spotless-check

AUT-781: Only use email allowlist regex check on regex entries
  shared/src/main/java/uk/gov/di/authentication/shared/helpers/TestClientHelper.java
  shared/src/test/java/uk/gov/di/authentication/shared/helpers/TestClientHelperTest.java
Due: spotless-check
